#calculator{
    width: 20vw;
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}
.display{
    width: 80%;
     height: 40px;
     border: 2px solid black;
     background: lightblue;
     text-align: right;
     font-size:xx-large;
}
.keys{
    background-color:rgb(191, 186, 186);
    width: 80%;
    display:flex;
    border: 1px solid black;
    flex-wrap: wrap;
}

.keys div{
    padding: 3px;
    background-color: lightgrey;
    margin: 5px;
    font-weight: 500;
    font-size: larger;
    width: 40px;
    text-align: center;
    box-shadow: 2px 2px;
}
